weapon:
  common:
    rocketmq:
      consumer:
        endpoints: rmq-cn-1wy4i653l01-vpc.cn-hangzhou.rmq.aliyuncs.com:8080
        consume-id: GID-PROD-DARWIN-FETCH-URL
        listener: URLReceiver
        consume-thread-num: 5
        subscribes:
          - topic: PROD-DARWIN-FETCH-URL
    kafka:
      auth:
        security-protocol: SASL_PLAINTEXT
        sasl-mechanism: SCRAM-SHA-256
        sasl-jaas-config: ${weapon/kafka/jaas-config}
      consumer:
        servers: 172.25.130.27:9092
        group-id: GID-PROD-DARWIN-FETCH-URL
        name: url_consumer
        processor-name: URLReceiver
        consumeThreadNum: 5
        topics:
          - PROD-DARWIN-FETCH-URL