spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initial-size: 10
      min-idle: 3
      max-active: 100
      max-wait: 60000
      test-while-idle: true
      test-on-borrow: true
      test-on-return: true
      filters: stat,wall,slf4j,config

app:
  service:
    dispatch: true
    mq:
      enable: kafka
    cache:
      rule-cache-num: 100
      rule-expired-seconds: 30
      job-cache-num: 100
      job-expired-minutes: 5