spring:
  datasource:
    url: jdbc:mysql://localhost:3306/darwin?useUnicode=true&characterEncoding=utf-8
    username: root
    password: ${weapon/mysql/password}
    druid:
      public-key: ${weapon/mysql/public-key}
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000;config.decrypt=true;config.decrypt.key=${spring.datasource.druid.public-key}

#mybatis-plus:
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

weapon:
  common:
    etcd:
      client:
        username: root
        password: xmjjyhy28p
        endpoints:
          - http://localhost:2379
    kafka:
      auth:
        security-protocol: SASL_PLAINTEXT
        sasl-mechanism: SCRAM-SHA-256
        sasl-jaas-config: ${weapon/kafka/jaas-config}
      admin:
        servers: localhost:9092
      producer:
        servers: localhost:9092
        request-timeout-ms: 3000
        retry-cnt: 2
  aliyun:
    oss:
      client:
        endpoint: https://oss-cn-hangzhou.aliyuncs.com
        socket-timeout-ms: 3000
        connection-timeout-ms: 3000
        retry-cnt: 2

app:
  service:
    mq:
      topicJob: TEST-DARWIN-DISPATCH-JOB
      topicURL: TEST-DARWIN-DISPATCH-RECORD
    oss:
      region: cn-hangzhou
      bucket: darwin-spider