spring:
  datasource:
    url: jdbc:mysql://rm-bp1jzevz9n51nnybryo.mysql.rds.aliyuncs.com:3306/darwin?useUnicode=true&characterEncoding=utf-8
    username: frankcl
    password: ${weapon/mysql/password}
    druid:
      public-key: ${weapon/mysql/public-key}
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000;config.decrypt=true;config.decrypt.key=${spring.datasource.druid.public-key}

#mybatis-plus:
#  configuration:
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

weapon:
  common:
    etcd:
      client:
        username: root
        password: zhuomai@2025!
        endpoints:
          - http://172.25.130.27:2379
    rocketmq:
      admin:
        endpoint: rmq-cn-1wy4i653l01-vpc.cn-hangzhou.rmq.aliyuncs.com:8080
      producer:
        endpoints: rmq-cn-1wy4i653l01-vpc.cn-hangzhou.rmq.aliyuncs.com:8080
        retry-cnt: 3
        send-msg-timeout: 3000
    kafka:
      auth:
        security-protocol: SASL_PLAINTEXT
        sasl-mechanism: SCRAM-SHA-256
        sasl-jaas-config: ${weapon/kafka/jaas-config}
      producer:
        servers: 172.25.130.27:9092
        request-timeout-ms: 3000
        retry-cnt: 2
  aliyun:
    oss:
      client:
        endpoint: https://oss-cn-hangzhou-internal.aliyuncs.com
        socket-timeout-ms: 3000
        connection-timeout-ms: 3000
        retry-cnt: 2

app:
  service:
    mq:
      topicJob: PROD-DARWIN-DISPATCH-JOB
      topicURL: PROD-DARWIN-DISPATCH-RECORD
    oss:
      region: cn-hangzhou
      bucket: lumy