grant codeBase "file:/home/admin/darwin/spider/lib/*" {
    permission java.security.AllPermission;
};
grant {
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.access";
    permission java.util.PropertyPermission "javax.xml.xpath.XPathFactory:jsoup", "read";
};